* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
  padding-bottom: 10px;
}

.bio-entry {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
}
	
h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #666;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: bold;
  font-size: 20px;
  color: #777;
  line-height: 22px;
  padding-top:20px;
  padding-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h4, h5 {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-weight: bold;
  font-size: 20px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  display: none;
}

#aboutmeH2 {
  color: white;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
}

.orange {
  background-color: #F5AE23;

}

.orange-text {
  color: #F5AE23;
}

.white-text {
  /*font-weight: bold;*/
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
  box-shadow: #221f1f 0 0 3px;
}

.white {
  background-color: #FEFEFE;
  padding-bottom: 10px;
  clear:both;
  box-shadow: #221f1f 0 0 3px;
}

.dark-gray {
  background-color: #244D6D;
  padding-bottom: 10px;
  clear:both;
  box-shadow: #221f1f 0 0 3px;
}

/* TODO: Replace with image later */
#header {
  background-color: #244D6D;
  box-shadow: #221f1f 0 0 3px;

}
#aboutMe {
  background-color: #244D6D;
  box-shadow: #221f1f 0 0 3px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 15px;
}

.flex-item {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.flex-courseitems {
  color: #777;
}

.center-content {
  padding-top: 1.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%
}

ul {
  list-style-type: none;
}

/**.biopic {
  float: left;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 0px;
  width: 275px;
  border: 2px solid white;
  display: none;
}
**/ 
.biopic {
  float: left;
  padding: 0;
  margin-bottom: 0px;
  margin-right: 20px;
  max-width: 100%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 40%;
  display: none;
}

.projectpic {
  float: left;
  max-width: 100%;
  border: 2px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 30%;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
  color: white;
}

#letsConnect {
  text-align: center;
}

#topContacts {
	margin-bottom: 0px;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
